# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\NaruseGithubProject\naruse-shopping-mall-parent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
